n8n/workflows/brand_monitoring.json
{
  "name": "Brand Monitoring",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "run-brand-sweep",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1600,
        400
      ],
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Webhook",
      "webhookId": "run-brand-sweep"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/scan_runs?id=eq.{{ $json.body.run_id }}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"running\" }",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1380,
        400
      ],
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Mark Running"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/apify~google-search-scraper/run-sync-get-dataset-items?token={{ $env.APIFY_TOKEN }}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"queries\": \"{{ $('Webhook').item.json.body.brand }} login\\n{{ $('Webhook').item.json.body.brand }} loan apply\\n{{ $('Webhook').item.json.body.brand }} giveaway\\nsite:t.me {{ $('Webhook').item.json.body.brand }}\",\n  \"maxPagesPerQuery\": 1,\n  \"resultsPerPage\": 15,\n  \"countryCode\": \"in\",\n  \"languageCode\": \"en\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1100,
        400
      ],
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Apify Google Search"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const ctx = $('Webhook').item.json.body || {};\nconst owned = (ctx.owned_domains || []).map(s => (s||'').toLowerCase());\nconst whitelisted = (ctx.whitelisted_handles || []).map(s => (s||'').toLowerCase().replace('@',''));\nconst tenantId = ctx.tenant_id;\nconst runId = ctx.run_id;\n\nconst apifyItems = $input.all();\nconst rows = [];\n\nfor (const itm of apifyItems) {\n  const j = itm.json;\n  const queryArr = Array.isArray(j) ? j : (Array.isArray(j?.body) ? j.body : [j]);\n  for (const queryItem of queryArr) {\n    const q = queryItem?.searchQuery?.term || '';\n    const organic = queryItem?.organicResults || [];\n    for (const r of organic) {\n      const url = (r.url || '').toLowerCase();\n      const title = r.title || '';\n      const desc = r.description || '';\n      if (!url) continue;\n      if (owned.some(d => d && url.includes(d))) continue;\n      if (whitelisted.some(h => h && (url.includes(h) || title.toLowerCase().includes(h)))) continue;\n\n      let kind = 'fraud', severity = 'Low', confidence = 0.4, action = 'monitor';\n      const blob = (url + ' ' + title + ' ' + desc).toLowerCase();\n      if (q.toLowerCase().includes('login') && blob.includes('login')) {\n        kind = 'phishing'; severity = 'Substantial'; confidence = 0.65;\n      } else if (q.toLowerCase().includes('giveaway') || blob.includes('giveaway') || blob.includes('prize')) {\n        kind = 'fraud'; severity = 'Moderate'; confidence = 0.5;\n      } else if (url.includes('t.me/') || url.includes('telegram.me/')) {\n        kind = 'username_squat'; severity = 'Moderate'; confidence = 0.55;\n      } else if (url.includes('play.google.com') || url.includes('apkpure.com') || url.includes('.apk')) {\n        kind = 'fraud'; severity = 'Substantial'; confidence = 0.6;\n      } else if (url.includes('instagram.com') || url.includes('facebook.com') || url.includes('twitter.com') || url.includes('x.com')) {\n        kind = 'brand_impersonation'; severity = 'Moderate'; confidence = 0.45;\n      }\n\n      rows.push({\n        tenant_id: tenantId,\n        scan_run_id: runId,\n        source: 'apify:google-search',\n        kind, severity, confidence,\n        url_or_value: r.url,\n        evidence: { title, description: desc.slice(0, 200), query: q },\n        ai_filtered: false,\n        ai_reason: 'Heuristic match (' + kind + ')',\n        recommended_action: action,\n      });\n    }\n  }\n}\n\nreturn [{ json: { rows, count: rows.length, run_id: runId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -820,
        400
      ],
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Classify"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/findings",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.rows }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        400
      ],
      "id": "66666666-6666-4666-8666-666666666666",
      "name": "Bulk Insert Findings",
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/scan_runs?id=eq.{{ $('Webhook').item.json.body.run_id }}",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"completed\",\n  \"completed_at\": \"{{ $now.toISO() }}\",\n  \"finding_count\": {{ $('Classify').first().json.count }}\n}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        400
      ],
      "id": "77777777-7777-4777-8777-777777777777",
      "name": "Mark Completed"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"run_id\": \"{{ $('Webhook').item.json.body.run_id }}\",\n  \"finding_count\": {{ $('Classify').first().json.count }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        20,
        400
      ],
      "id": "88888888-8888-4888-8888-888888888888",
      "name": "Respond OK"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Mark Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Running": {
      "main": [
        [
          {
            "node": "Apify Google Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify Google Search": {
      "main": [
        [
          {
            "node": "Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify": {
      "main": [
        [
          {
            "node": "Bulk Insert Findings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bulk Insert Findings": {
      "main": [
        [
          {
            "node": "Mark Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Completed": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "pinData": {},
  "active": false
}