n8n/workflows/feat_019_whois.json
[
  {
    "name": "FEAT-019 Domain Intel",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "feat-019",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -1700,
          400
        ],
        "id": "11111111-1111-4111-8111-111111111111",
        "name": "Webhook",
        "webhookId": "feat-019"
      },
      {
        "parameters": {
          "method": "GET",
          "url": "=https://api.apify.com/v2/datasets/{{ $json.body.resource.defaultDatasetId }}/items?token={{ $env.APIFY_TOKEN }}&format=json&clean=true",
          "sendHeaders": false,
          "sendBody": false,
          "options": {
            "timeout": 60000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1450,
          400
        ],
        "id": "22222222-2222-4222-8222-222222222222",
        "name": "Fetch Dataset"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// FEAT-019 Domain WHOIS / DNS / SSL classifier\nconst items = $input.all();\nconst ev = $('Webhook').item.json.body || {};\nconst headers = ev.headers || {};\nconst tenantId = headers['x-tenant-id'] || '23610954-5fd0-482f-8eb0-11edce1f5c58';\nconst taskId = ev.eventData?.actorTaskId || null;\nconst runId = ev.resource?.id || null;\nconst datasetId = ev.resource?.defaultDatasetId || null;\n\nfunction ageDays(iso) {\n  if (!iso) return null;\n  const d = new Date(iso);\n  if (isNaN(d.getTime())) return null;\n  return Math.floor((Date.now() - d.getTime()) / 86400000);\n}\n\nconst rows = [];\nfor (const itm of items) {\n  const w = itm.json || {};\n  const domain = w.domain || w.queryDomain || w.host;\n  if (!domain) continue;\n  const age = ageDays(w.creation_date || w.created || w.createdDate || w.registered);\n  const sslIssuer = w.ssl?.issuer || w.ssl_issuer || w.sslCertificate?.issuer || '';\n  const isLE = /Let'?s Encrypt/i.test(sslIssuer);\n\n  let severity = 'Low';\n  if (isLE && age !== null && age < 90) severity = 'Substantial';\n  else if (age !== null && age < 30) severity = 'Moderate';\n\n  rows.push({\n    tenant_id: tenantId,\n    apify_task_id: taskId,\n    apify_run_id: runId,\n    apify_dataset_id: datasetId,\n    feature_id: 'FEAT-019',\n    source: 'apify:whois',\n    kind: 'domain_intel',\n    fraud_pattern: null,\n    severity,\n    confidence: 0.9,\n    item_id: domain,\n    url_or_value: domain,\n    evidence: {\n      domain,\n      domain_age_days: age,\n      ssl_issuer: sslIssuer,\n      ssl_expiry: w.ssl?.expires || w.ssl_expiry || null,\n      registrar: w.registrar || w.registrarName || null,\n      name_servers: w.name_servers || w.nameservers || w.ns || [],\n      tech_stack: w.tech_stack || w.technologies || [],\n      dns_records: w.dns || w.dnsRecords || {},\n      whois_raw: w.whois_raw || null,\n    },\n    timestamp_source: w.creation_date || w.created || null,\n    ai_filtered: false,\n    ai_reason: `Domain age ${age ?? 'unknown'} days, SSL issuer \"${sslIssuer || 'unknown'}\"`,\n    recommended_action: 'monitor',\n  });\n}\nreturn [{ json: { rows, count: rows.length } }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1200,
          400
        ],
        "id": "33333333-3333-4333-8333-333333333333",
        "name": "Code"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/findings",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "resolution=merge-duplicates,return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.rows }}",
          "options": {
            "timeout": 30000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -950,
          400
        ],
        "id": "44444444-4444-4444-8444-444444444444",
        "name": "Bulk Insert",
        "continueOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/scan_runs?apify_run_id=eq.{{ $('Webhook').item.json.body.resource.id }}",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"status\": \"completed\",\n  \"completed_at\": \"{{ $now.toISO() }}\",\n  \"finding_count\": {{ $('Code').first().json.count }}\n}",
          "options": {
            "timeout": 15000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -700,
          400
        ],
        "id": "55555555-5555-4555-8555-555555555555",
        "name": "Mark scan_runs",
        "continueOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"ok\": true,\n  \"run_id\": \"{{ $('Webhook').item.json.body.resource.id }}\",\n  \"feature_id\": \"FEAT-019\",\n  \"finding_count\": {{ $('Code').first().json.count }}\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          -450,
          400
        ],
        "id": "66666666-6666-4666-8666-666666666666",
        "name": "Respond OK"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Fetch Dataset",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Dataset": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "Bulk Insert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bulk Insert": {
        "main": [
          [
            {
              "node": "Mark scan_runs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark scan_runs": {
        "main": [
          [
            {
              "node": "Respond OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "pinData": {},
    "staticData": {},
    "tags": []
  }
]