n8n/workflows/feat_024_recruitment.json
[
  {
    "name": "FEAT-024 Recruitment Scam",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "feat-024",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -1700,
          400
        ],
        "id": "11111111-1111-4111-8111-111111111111",
        "name": "Webhook",
        "webhookId": "feat-024"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const top = $input.first().json || {};\nconst body = top.body || top;\nconst resource = (body && body.resource) || top.resource || {};\nconst eventData = (body && body.eventData) || top.eventData || {};\nconst dataset_id = resource.defaultDatasetId || body.defaultDatasetId || top.defaultDatasetId || '';\nconst run_id = resource.id || body.run_id || eventData.actorRunId || '';\nconst task_id = eventData.actorTaskId || body.task_id || top['X-Apify-Task-Id'] || '';\nconst tenant_id = body.tenant_id || top.tenant_id || '23610954-5fd0-482f-8eb0-11edce1f5c58';\nconst feature_id = body.feature_id || top.feature_id || '';\nreturn [{ json: { dataset_id, run_id, task_id, tenant_id, feature_id, body, resource, eventData } }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1480,
          400
        ],
        "id": "ababab10-aaaa-4aaa-8aaa-aaaaaaaaaaab",
        "name": "Normalize Body"
      },
      {
        "parameters": {
          "method": "GET",
          "url": "=https://api.apify.com/v2/datasets/{{ $json.dataset_id }}/items?token={{ $env.APIFY_TOKEN }}&format=json&clean=true",
          "sendHeaders": false,
          "sendBody": false,
          "options": {
            "timeout": 60000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1450,
          400
        ],
        "id": "22222222-2222-4222-8222-222222222222",
        "name": "Fetch Dataset"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// FEAT-024 Recruitment Scam classifier\nconst items = $input.all();\nconst ev = $('Webhook').item.json.body || {};\nconst headers = ev.headers || {};\nconst tenantId = headers['x-tenant-id'] || '23610954-5fd0-482f-8eb0-11edce1f5c58';\nconst taskId = ev.eventData?.actorTaskId || null;\nconst runId = ev.resource?.id || null;\nconst datasetId = ev.resource?.defaultDatasetId || null;\n\nconst OFFICIAL = ['CreditAccess Grameen Limited', 'Madura Micro Finance', 'MMFL'];\nconst FEE_RE  = /(processing|joining|training|registration)\\s+fee|deposit|advance/i;\nconst PII_RE  = /\\bPAN\\b|\\bAadhaar\\b|\\bAadhar\\b/i;\nconst BRAND_RE = /CreditAccess|Grameen Koota|CA Grameen|Madura/i;\n\nfunction platformFromSource(j) {\n  const s = (j.source || j.platform || j.url || '').toLowerCase();\n  if (s.includes('linkedin')) return 'apify:linkedin';\n  if (s.includes('indeed'))   return 'apify:indeed';\n  if (s.includes('glassdoor')) return 'apify:glassdoor';\n  return 'apify:naukri';\n}\n\nconst rows = [];\nfor (const itm of items) {\n  const j = itm.json || {};\n  const employer = j.employer || j.companyName || j.company || '';\n  if (OFFICIAL.includes(employer)) continue;\n  const desc = (j.description || j.jobDescription || '').toString();\n  const recruiter = j.recruiter || j.recruiterName || j.postedBy || '';\n\n  const red_flags = [];\n  if (FEE_RE.test(desc)) red_flags.push('asks_processing_fee');\n  if (PII_RE.test(desc)) red_flags.push('asks_pii_upfront');\n  if (!recruiter || /HR|recruiter|admin/i.test(recruiter)) red_flags.push('unverified_recruiter');\n\n  let severity = 'Moderate';\n  if (red_flags.includes('asks_processing_fee') || red_flags.includes('asks_pii_upfront')) {\n    severity = 'Critical';\n  } else if (red_flags.length === 1 && red_flags[0] === 'unverified_recruiter' && BRAND_RE.test(desc + employer)) {\n    severity = 'Substantial';\n  }\n\n  const confidence = severity === 'Critical' ? 0.9 : severity === 'Substantial' ? 0.7 : 0.5;\n  const action = severity === 'Critical' ? 'takedown' : 'monitor';\n  const url = j.url || j.applyUrl || j.jobUrl || '';\n  const itemId = j.id || j.jobId || url;\n\n  rows.push({\n    tenant_id: tenantId,\n    apify_task_id: taskId,\n    apify_run_id: runId,\n    apify_dataset_id: datasetId,\n    feature_id: 'FEAT-024',\n    source: platformFromSource(j),\n    kind: 'job_scam',\n    fraud_pattern: 'job_scam',\n    severity,\n    confidence,\n    item_id: itemId,\n    url_or_value: url || itemId,\n    evidence: {\n      platform: j.source || j.platform || null,\n      job_title: j.title || j.jobTitle || null,\n      employer,\n      recruiter,\n      salary: j.salary || j.salaryRange || null,\n      location: j.location || j.city || null,\n      posted_at: j.postedAt || j.postingDate || null,\n      description_excerpt: desc.slice(0, 250),\n      red_flags,\n      application_url: j.applyUrl || null,\n    },\n    language_detected: j.language || null,\n    timestamp_source: j.postedAt || j.postingDate || null,\n    ai_filtered: false,\n    ai_reason: `Red flags: ${red_flags.join(', ') || 'none'}`,\n    recommended_action: action,\n  });\n}\nreturn [{ json: { rows, count: rows.length } }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1200,
          400
        ],
        "id": "33333333-3333-4333-8333-333333333333",
        "name": "Code"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/findings",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "resolution=merge-duplicates,return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.rows }}",
          "options": {
            "timeout": 30000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -950,
          400
        ],
        "id": "44444444-4444-4444-8444-444444444444",
        "name": "Bulk Insert",
        "continueOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ $env.SUPABASE_URL }}/rest/v1/scan_runs?apify_run_id=eq.{{ $('Normalize Body').item.json.run_id }}",
          "sendHeaders": true,
          "specifyHeaders": "keypair",
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"status\": \"completed\",\n  \"completed_at\": \"{{ $now.toISO() }}\",\n  \"finding_count\": {{ $('Code').first().json.count }}\n}",
          "options": {
            "timeout": 15000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -700,
          400
        ],
        "id": "55555555-5555-4555-8555-555555555555",
        "name": "Mark scan_runs",
        "continueOnFail": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"ok\": true,\n  \"run_id\": \"{{ $('Normalize Body').item.json.run_id }}\",\n  \"feature_id\": \"FEAT-024\",\n  \"finding_count\": {{ $('Code').first().json.count }}\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          -450,
          400
        ],
        "id": "66666666-6666-4666-8666-666666666666",
        "name": "Respond OK"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Normalize Body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Dataset": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "Bulk Insert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Bulk Insert": {
        "main": [
          [
            {
              "node": "Mark scan_runs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark scan_runs": {
        "main": [
          [
            {
              "node": "Respond OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Body": {
        "main": [
          [
            {
              "node": "Fetch Dataset",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "pinData": {},
    "staticData": {},
    "tags": []
  }
]