n8n/workflows/sub-feat-mobile-apps.json
[
  {
    "name": "tai-aegis-sub-feat-mobile-apps",
    "nodes": [
      {
        "id": "8ae5a89c-ad13-4401-b61b-961d14bacd5f",
        "name": "Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "webhookId": "77b4d829-2d68-4921-a00a-3f8772235b60",
        "parameters": {
          "httpMethod": "POST",
          "path": "tai-aegis-sub-feat-mobile-apps-trigger",
          "options": {},
          "responseMode": "lastNode"
        }
      },
      {
        "id": "e82d9595-8576-4699-8459-85de6fdde429",
        "name": "Log invocation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          480,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconsole.log('[sub-feat-B] invoked with', JSON.stringify($input.all().map(i => i.json), null, 2).slice(0, 300));\nreturn [{ json: { stub: true, source: 'sub-feat-B', findings: [] } }];\n"
        }
      },
      {
        "id": "3f367cf2-ac4a-4acb-a665-bb03eb27fbb2",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          720,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}"
        }
      }
    ],
    "connections": {
      "Trigger": {
        "main": [
          [
            {
              "node": "Log invocation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log invocation": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "pinData": {},
    "active": false
  }
]