n8n/workflows/sub-feat-synthetic-media.json
[
  {
    "name": "tai-aegis-sub-feat-synthetic-media",
    "nodes": [
      {
        "id": "b5445af8-d150-426e-be5d-919b37d05b2d",
        "name": "Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "webhookId": "1ff5c7e4-9e90-4ce7-ab7a-5b6b62073aba",
        "parameters": {
          "httpMethod": "POST",
          "path": "tai-aegis-sub-feat-synthetic-media-trigger",
          "options": {},
          "responseMode": "lastNode"
        }
      },
      {
        "id": "edfb7e3e-5107-47b9-b890-2939b6e6e23c",
        "name": "Log invocation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          480,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconsole.log('[sub-feat-J] invoked with', JSON.stringify($input.all().map(i => i.json), null, 2).slice(0, 300));\nreturn [{ json: { stub: true, source: 'sub-feat-J', findings: [] } }];\n"
        }
      },
      {
        "id": "ea7de53a-606a-49dd-9a8c-ea784a439959",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          720,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}"
        }
      }
    ],
    "connections": {
      "Trigger": {
        "main": [
          [
            {
              "node": "Log invocation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log invocation": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "pinData": {},
    "active": false
  }
]