n8n/workflows/sub-alert-router.json
[
  {
    "name": "tai-aegis-sub-alert-router",
    "nodes": [
      {
        "id": "e04fcaf5-7ae9-4180-995b-4a1f0540e930",
        "name": "Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "webhookId": "abbe8437-19c7-4f2f-bcaf-aab2abb2f7ee",
        "parameters": {
          "httpMethod": "POST",
          "path": "tai-aegis-sub-alert-router-trigger",
          "options": {},
          "responseMode": "lastNode"
        }
      },
      {
        "id": "efb5c8f1-d1ca-40d8-9b97-f0970e5c30d8",
        "name": "Log invocation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          480,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconsole.log('[alert-router] invoked with', JSON.stringify($input.all().map(i => i.json), null, 2).slice(0, 300));\nreturn [{ json: { stub: true, source: 'alert-router', findings: [] } }];\n"
        }
      },
      {
        "id": "b611dcc0-8fe3-4850-bad0-05b57049532e",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          720,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}"
        }
      }
    ],
    "connections": {
      "Trigger": {
        "main": [
          [
            {
              "node": "Log invocation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log invocation": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "pinData": {},
    "active": false
  }
]