n8n/workflows/sub-feat-social-impersonation.json
[
  {
    "name": "tai-aegis-sub-feat-social-impersonation",
    "nodes": [
      {
        "id": "f56bc4d7-2d99-4b76-a574-d0afb73b0ac7",
        "name": "Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "webhookId": "b039def9-5ce8-4d19-9cee-94cb79a5b85d",
        "parameters": {
          "httpMethod": "POST",
          "path": "tai-aegis-sub-feat-social-impersonation-trigger",
          "options": {},
          "responseMode": "lastNode"
        }
      },
      {
        "id": "6b22a485-6e89-424e-b9a2-4937dcc3d77f",
        "name": "Log invocation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          480,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconsole.log('[sub-feat-C] invoked with', JSON.stringify($input.all().map(i => i.json), null, 2).slice(0, 300));\nreturn [{ json: { stub: true, source: 'sub-feat-C', findings: [] } }];\n"
        }
      },
      {
        "id": "bdaf5ba2-b021-42e8-91fa-b8933eb21531",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          720,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}"
        }
      }
    ],
    "connections": {
      "Trigger": {
        "main": [
          [
            {
              "node": "Log invocation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log invocation": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "pinData": {},
    "active": false
  }
]