n8n/workflows/sub-ai-dashboard-prep.json
[
  {
    "name": "tai-aegis-sub-ai-dashboard-prep",
    "nodes": [
      {
        "id": "85223b6d-dbdb-4ede-b74e-3a6918adcff5",
        "name": "Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "webhookId": "c79d8cb0-8a89-4906-a735-fb19a5c0a5fe",
        "parameters": {
          "httpMethod": "POST",
          "path": "tai-aegis-sub-ai-dashboard-prep-trigger",
          "options": {},
          "responseMode": "lastNode"
        }
      },
      {
        "id": "83464d84-c58d-4051-895e-e28d1ab75a10",
        "name": "Log invocation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          480,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconsole.log('[ai-dashboard-prep] invoked with', JSON.stringify($input.all().map(i => i.json), null, 2).slice(0, 300));\nreturn [{ json: { stub: true, source: 'ai-dashboard-prep', findings: [] } }];\n"
        }
      },
      {
        "id": "d461ad06-e172-4f02-bc8a-22a09d1d8400",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          720,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}"
        }
      }
    ],
    "connections": {
      "Trigger": {
        "main": [
          [
            {
              "node": "Log invocation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log invocation": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "pinData": {},
    "active": false
  }
]