n8n/workflows/sub-feat-counterfeit.json
[
  {
    "name": "tai-aegis-sub-feat-counterfeit",
    "nodes": [
      {
        "id": "1a9e80ad-7939-4c43-898a-0716b21089d4",
        "name": "Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "webhookId": "a1f1bd4a-1f04-4d5d-aa20-659e14b74ee8",
        "parameters": {
          "httpMethod": "POST",
          "path": "tai-aegis-sub-feat-counterfeit-trigger",
          "options": {},
          "responseMode": "lastNode"
        }
      },
      {
        "id": "5b07633d-5009-425e-b9f3-14fc8ab45218",
        "name": "Log invocation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          480,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconsole.log('[sub-feat-F] invoked with', JSON.stringify($input.all().map(i => i.json), null, 2).slice(0, 300));\nreturn [{ json: { stub: true, source: 'sub-feat-F', findings: [] } }];\n"
        }
      },
      {
        "id": "7f648b50-85cc-4e38-840a-80c2a34c222e",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          720,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}"
        }
      }
    ],
    "connections": {
      "Trigger": {
        "main": [
          [
            {
              "node": "Log invocation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log invocation": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "pinData": {},
    "active": false
  }
]