n8n/workflows/sub-feat-people-impersonation.json
[
  {
    "name": "tai-aegis-sub-feat-people-impersonation",
    "nodes": [
      {
        "id": "d3a186a6-70fc-46f6-9fd5-f4779896701b",
        "name": "Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "webhookId": "f041526f-e468-4fce-9a9c-a6d6a98bdc36",
        "parameters": {
          "httpMethod": "POST",
          "path": "tai-aegis-sub-feat-people-impersonation-trigger",
          "options": {},
          "responseMode": "lastNode"
        }
      },
      {
        "id": "7befd355-20af-45f0-90db-d1552d84ab20",
        "name": "Log invocation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          480,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconsole.log('[sub-feat-D] invoked with', JSON.stringify($input.all().map(i => i.json), null, 2).slice(0, 300));\nreturn [{ json: { stub: true, source: 'sub-feat-D', findings: [] } }];\n"
        }
      },
      {
        "id": "7b0b944a-0905-4902-9a74-b2232217b6ae",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          720,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}"
        }
      }
    ],
    "connections": {
      "Trigger": {
        "main": [
          [
            {
              "node": "Log invocation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log invocation": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "pinData": {},
    "active": false
  }
]