n8n/workflows/sub-feat-recruitment.json
[
  {
    "name": "tai-aegis-sub-feat-recruitment",
    "nodes": [
      {
        "id": "1d6ae7aa-e5d3-4611-b5c2-feb1f7e4a398",
        "name": "Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "webhookId": "11447ead-0ebd-4672-a3d0-fa0df7e7675f",
        "parameters": {
          "httpMethod": "POST",
          "path": "tai-aegis-sub-feat-recruitment-trigger",
          "options": {},
          "responseMode": "lastNode"
        }
      },
      {
        "id": "c50aef61-7e54-4ec0-ad32-91e7ab263d15",
        "name": "Log invocation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          480,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconsole.log('[sub-feat-G] invoked with', JSON.stringify($input.all().map(i => i.json), null, 2).slice(0, 300));\nreturn [{ json: { stub: true, source: 'sub-feat-G', findings: [] } }];\n"
        }
      },
      {
        "id": "74999448-f735-431a-9aea-4ee61307846d",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          720,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}"
        }
      }
    ],
    "connections": {
      "Trigger": {
        "main": [
          [
            {
              "node": "Log invocation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log invocation": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "pinData": {},
    "active": false
  }
]