n8n/workflows/sub-feat-financial-scams.json
[
  {
    "name": "tai-aegis-sub-feat-financial-scams",
    "nodes": [
      {
        "id": "a7b12ace-c3e6-45f5-99f7-ceea620e88f9",
        "name": "Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "webhookId": "f29b88c5-128c-42ed-bef2-ab5820f5377a",
        "parameters": {
          "httpMethod": "POST",
          "path": "tai-aegis-sub-feat-financial-scams-trigger",
          "options": {},
          "responseMode": "lastNode"
        }
      },
      {
        "id": "cc1cefe8-8b9e-493a-8c85-4487512f136d",
        "name": "Log invocation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          480,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconsole.log('[sub-feat-H] invoked with', JSON.stringify($input.all().map(i => i.json), null, 2).slice(0, 300));\nreturn [{ json: { stub: true, source: 'sub-feat-H', findings: [] } }];\n"
        }
      },
      {
        "id": "bc656ac4-8732-49f0-a3eb-858a25f9a31c",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          720,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}"
        }
      }
    ],
    "connections": {
      "Trigger": {
        "main": [
          [
            {
              "node": "Log invocation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log invocation": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "pinData": {},
    "active": false
  }
]