n8n/workflows/sub-feat-domain-website.json
[
  {
    "name": "tai-aegis-sub-feat-domain-website",
    "nodes": [
      {
        "id": "ca4f6d2b-a1a1-46ff-870a-f23e75bd824d",
        "name": "Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "webhookId": "aa680da8-f30c-4516-a882-4e2b3de086ce",
        "parameters": {
          "httpMethod": "POST",
          "path": "tai-aegis-sub-feat-domain-website-trigger",
          "options": {},
          "responseMode": "lastNode"
        }
      },
      {
        "id": "23cf97b1-c6e5-455c-848d-c1cdb8f340f0",
        "name": "Log invocation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          480,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconsole.log('[sub-feat-A] invoked with', JSON.stringify($input.all().map(i => i.json), null, 2).slice(0, 300));\nreturn [{ json: { stub: true, source: 'sub-feat-A', findings: [] } }];\n"
        }
      },
      {
        "id": "353622d8-0cb2-42ea-945d-00e4a5b6fe79",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          720,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}"
        }
      }
    ],
    "connections": {
      "Trigger": {
        "main": [
          [
            {
              "node": "Log invocation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log invocation": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "pinData": {},
    "active": false
  }
]