n8n/workflows/sub-feat-reputation.json
[
  {
    "name": "tai-aegis-sub-feat-reputation",
    "nodes": [
      {
        "id": "f06c30a4-7b4b-4718-8a29-9ba81892d508",
        "name": "Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "webhookId": "2d510cc6-6802-49d7-9aaa-cbe8be8d4cf3",
        "parameters": {
          "httpMethod": "POST",
          "path": "tai-aegis-sub-feat-reputation-trigger",
          "options": {},
          "responseMode": "lastNode"
        }
      },
      {
        "id": "18f88b36-7b3c-4618-8a39-632b61c036a0",
        "name": "Log invocation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          480,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconsole.log('[sub-feat-M] invoked with', JSON.stringify($input.all().map(i => i.json), null, 2).slice(0, 300));\nreturn [{ json: { stub: true, source: 'sub-feat-M', findings: [] } }];\n"
        }
      },
      {
        "id": "116151d1-518d-4818-9ddf-b117e6f3493a",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          720,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}"
        }
      }
    ],
    "connections": {
      "Trigger": {
        "main": [
          [
            {
              "node": "Log invocation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log invocation": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "pinData": {},
    "active": false
  }
]