n8n/workflows/sub-feat-ip-trademark.json
[
  {
    "name": "tai-aegis-sub-feat-ip-trademark",
    "nodes": [
      {
        "id": "48e7f11d-d655-47e7-aeab-346c3ee82d72",
        "name": "Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          300
        ],
        "webhookId": "3ba9795f-35c9-473a-9b60-e0f529a6cf18",
        "parameters": {
          "httpMethod": "POST",
          "path": "tai-aegis-sub-feat-ip-trademark-trigger",
          "options": {},
          "responseMode": "lastNode"
        }
      },
      {
        "id": "d789dbae-27da-41ef-a350-2ff97857c9bf",
        "name": "Log invocation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          480,
          300
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "\nconsole.log('[sub-feat-E] invoked with', JSON.stringify($input.all().map(i => i.json), null, 2).slice(0, 300));\nreturn [{ json: { stub: true, source: 'sub-feat-E', findings: [] } }];\n"
        }
      },
      {
        "id": "56f63213-17aa-4407-b60f-42dda7deba25",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          720,
          300
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}"
        }
      }
    ],
    "connections": {
      "Trigger": {
        "main": [
          [
            {
              "node": "Log invocation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log invocation": {
        "main": [
          [
            {
              "node": "Respond",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "pinData": {},
    "active": false
  }
]